<!DOCTYPE html>
<html>
  <head>
    <title>My Books Detail</title>
    
  </head>
  <body>
    <div class="container">
      <h3><a href="/bookusers">Books List</a></h3>
      <h1>My Books Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Book Title</td>
            <td>:</td>
            <td><%= bookdres.BookTitle %></td>
          </tr>        
        </tbody>
      </table>
      <!-- <h3><a href="/employees/edit/<%= employee._id%>">EDIT</a></h3>
      <form action="/employees/delete/<%= employee._id%>" method="post">
        <button type="submit">DELETE</button>
      </form> -->
    </div>
  </body>
</html>